<script>
	import {
		Header,
		HeaderNav,
		HeaderNavItem,
		HeaderNavMenu,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		Content,
		Grid,
		Row,
		Column
	} from 'carbon-components-svelte';
	import Fade16 from 'carbon-icons-svelte/lib/Fade16';
	import { readable } from 'svelte/store';
	import { browser } from '$app/env';
	let isSideNavOpen = false;



    /**
     * Display carbon sidebar "rails" mode only if big screen
     */

	let windowInnerWidth = readable(null, (set) => {
		if (!browser) {
			return 0;
		}
		const onResize = () => {
			set(window.innerWidth);
			console.log('resize', window.innerWidth);
		};
		console.log('inner', window.innerWidth);
		set(window.innerWidth);
		window.addEventListener('resize', onResize);
		return () => {
			window.removeEventListener('resize', onResize);
		};
	});

	let isRails = false;
    $:{
        if(browser){
            isRails = $windowInnerWidth < 1024 ? false : true
        }
    }
</script>

<Header company="Svelte-Nest" platformName="Bookstore" bind:isSideNavOpen>
	<div slot="skip-to-content">
		<SkipToContent />
	</div>

	<HeaderNav>
		<HeaderNavItem href="/" text="Link 1" />
		<HeaderNavItem href="/" text="Link 2" />
		<HeaderNavItem href="/" text="Link 3" />
		<HeaderNavMenu text="Menu">
			<HeaderNavItem href="/" text="Link 1" />
			<HeaderNavItem href="/" text="Link 2" />
			<HeaderNavItem href="/" text="Link 3" />
		</HeaderNavMenu>
		<HeaderNavItem href="/" text="Link 4" />
	</HeaderNav>

	<SideNav bind:isOpen={isSideNavOpen} rail={isRails}>
		<SideNavItems>
			<SideNavLink icon={Fade16} text="Link 1" href="/" isSelected />
			<SideNavLink icon={Fade16} text="Link 2" href="/" />
			<SideNavLink icon={Fade16} text="Link 3" href="/" />
			<SideNavMenu icon={Fade16} text="Menu">
				<SideNavMenuItem href="/" text="Link 1" />
				<SideNavMenuItem href="/" text="Link 2" />
				<SideNavMenuItem href="/" text="Link 3" />
			</SideNavMenu>
			<SideNavDivider />
			<SideNavLink icon={Fade16} text="Link 4" href="/" />
		</SideNavItems>
	</SideNav>
</Header>

<Content>
	<Grid>
		<Row>
			<Column>
				<slot />
			</Column>
		</Row>
	</Grid>
</Content>
