<script context="module">
	export async function load({ page, fetch }) {
		let data = await fetch(`${import.meta.env.VITE_PUBLIC_URL}/index.json`);
		return {
			props: {
				page: { ...page },
				item: await data.json(),
				envs: import.meta.env
			}
		};
	}
</script>

<script>
	import ThemeSelector from '/src/components/ThemeSelector.svelte';
	export let page;
	export let item;
	export let envs;
</script>

<svelte:head>
	<title>Bookstore</title>
</svelte:head>

<h1>Welcome to Svelte-Nest-Bookstore example</h1>

<h2>Features:</h2>
<p>- Carbon CSS Framework</p>
<ThemeSelector />

<p>
	{JSON.stringify(envs,null,4)}
</p>

<style lang="scss">
    p{
        word-break: break-word;
    }
</style>
