<script>
	import 'carbon-components-svelte/css/all.css';
	import { browser } from '$app/env';
	import { onMount } from 'svelte';

	let theme = 'g10'; // "white" | "g10" | "g80" | "g90" | "g100"
	let themes = ['white', 'g10', 'g80', 'g90', 'g100'];

	onMount(() => {
		document.documentElement.setAttribute('theme', theme);
	});

	$: {
		if (browser) {
			document.documentElement.setAttribute('theme', theme);
		}
	}
</script>

<label
	>Theme
	<select bind:value={theme}>
		{#each themes as theme}
			<option value={theme}>{theme}</option>
		{/each}
	</select>
</label>
